*{
    margin:0;
    padding:0;
}

body{
    font-family: "Montserrat";
    min-height:100vh;
    background-image: linear-gradient(to right, #8e9eab, #eef2f3);
}

.main{
    position:absolute;
    left:0;
    right:0;
    top:50%;
    text-align: center;
    transform:translate(0, -50%);
}

.main h1{
    text-align:center;
    margin-bottom:1em;
}

.main div{
    margin:1em;
}

.main span{
    font-weight: bold;
    margin-right:.5em;
    font-size:1.1em;
}

input{
    background: rgba(0,0,0,.3);
    border:none;
    font-family: inherit;
    font-size: inherit;
    color: #eee;
    padding:.5em;
    box-shadow: 0 0 1em rgba(0,0,0,.3);
    border-radius:.5em;
}

input[type=number]{
    width:3em;
}

input[type=checkbox]{
    width:0;
    height:0;
}

div.check{
    width:2em;
    height:2em;
    background: rgba(0,0,0,.3);
    display:inline-block;
    vertical-align: middle;
    margin:-.2em .2em 0;
    border-radius:.5em;
    box-shadow: 0 0 1em rgba(0,0,0,.3);
    position: relative;
    cursor:pointer;
}

input[type=checkbox]:checked ~ div.check::after{
    content: "";
    border:0 solid #eee;
    border-width:0 .3em .3em 0;
    width:15%;
    height:40%;
    position: absolute;
    top:50%;
    left:50%;
    display: inline-block;
    transform:translate(-50%,-60%) rotate(45deg);
}

div.disabled{
    opacity:.5;
    pointer-events: none;
}